# macOS junk
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Node dependencies (we only want our specific src/vendor/ files)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment variables
.env
.env.local
.env.*

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
